.form-input {
  @apply w-full text-ellipsis rounded-[6px] border border-grey-300 px-10 py-[12px] text-[14px] font-medium leading-[16px] tracking-[0em] text-black;

  &::placeholder {
    @apply text-grey-300;
  }

  &:focus {
    @apply border-blue-300 outline-none ring-0;
  }

  &:disabled {
    @apply cursor-not-allowed border-grey-200 text-grey-200;

    &::placeholder {
      @apply text-grey-200;
    }
  }
}
