html {
  font-size: calc(100vw / 375 * 16);

  @screen md {
    font-size: calc(100vw / 560 * 16);
  }

  @screen lg {
    font-size: calc(100vw / 768 * 16);
  }

  @screen xl {
    font-size: calc(100vw / 1440 * 16);
  }
}
